#home-bg {
 /* Location of the image */
  background-image: url('../Images/BG_Home.jpg');
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */  

  min-height: 100vh;  
}

/* SweetAlert2: Blurry Background */
body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}

#sidebar {
  /* width: 390px; */
  /* height: 823.3px; */
  /* height: 97.5%; */
  /* margin: 0 10px 0 0; */
  /* padding: 40px 15px 50px 0; */
  /* margin-left: 20px; */
  margin-top: 20px;
  /* margin-bottom: 10px; */
  /* border-radius: 25px; */
  border-radius: 15px;
  /* box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.16); */
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.16);
  background-color: whitesmoke;
}

#profile {
  /* border-radius: 25px; */
  border-radius: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 20px 20px; */
  box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.16);
  background-color: whitesmoke;
  margin-top: 20px;
  /* margin-right: 20px; */
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

#widget {
  /* border-radius: 25px; */
  border-radius: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 20px 20px; */
  box-shadow: -5px -5px 5px 5px rgba(0, 0, 0, 0.16);
  background-color: whitesmoke;
  margin-top: 20px;
  /* margin-right: 20px; */
  padding: 20px;
}

#wrapper {
  /* width: auto; */
  /* width: 100%; */
  /* padding: 2.5% 5%; */
  position: relative
}

#wrapper .box-right {
  width: 100%;
  height: auto;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 3px 3px 10px rgba(25,25,25,0.5);
  /* box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.16); */
  padding: 2.5% 5%;
  /* padding: 7.5% 5%; */
  /* margin: 25px 0; */
  margin: 5px 0;
  /* border-top-right-radius: 25px; */
  /* border-bottom-right-radius: 25px; */
  border-radius: 15px;
}

#wrapper .box-right-text-only {
  width: 100%;
  height: auto;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 3px 3px 10px rgba(25,25,25,0.5);
  /* box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.16); */
  /* padding: 5% 5%; */
  padding: 7.5% 7.5%;
  /* margin: 25px 0; */
  margin: 5px 0;
  /* border-top-right-radius: 25px; */
  /* border-bottom-right-radius: 25px; */
  border-radius: 15px;
}

#wrapper .box-right-chatbot {
  width: 100%;
  height: auto;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 3px 3px 10px rgba(25,25,25,0.5);
  /* box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.16); */
  /* padding: 5% 5%; */
  padding: 2% 2%;
  /* margin: 25px 0; */
  margin: 5px 0;
  /* border-top-right-radius: 25px; */
  /* border-bottom-right-radius: 25px; */
  border-radius: 15px;
}

#wrapper .box-left {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: orange;
  /* display: none; */
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;    
}

#logo-menu {
  color: black;
}

#logo-menu:hover {
  color: orange;
}

#text-menu {
  color: black;
}

#text-menu:hover {
  color: orange;
}

.list-menu {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.list-menu p {
  color: black
}

.list-menu p:hover {
  color: orange
}

.accordion-button:not(.collapsed) {
  /* color: #0c63e4; */
  /* background-color: orange; */
  background-color: rgba(75, 75, 75, 0.07);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}