body {
  width: 100%!important;
  height: 100%!important;
  /* background-color: whitesmoke; */
  background-image: url('../Assets/Images/BG_Login.png');
  justify-content:center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;  
}

#login {     
    width: 500px;           /* Set this to your convenience */
    height: 500px;          /* Set this to your convenience */
    margin-top: -125px;     /* Half of height */
    margin-left: -150px;     /* Half of width */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: 150px;
    /* border-style: solid; */
    border-radius: 15px;
}